body,
html {
    margin: 0px;
    padding: 0px;
}
main {
    box-sizing: border-box;
    height: 100px;
    padding: 40px;
}
.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.Logos {
    justify-self: center;
    font-family: Helvetica;
    font-size: 50px; 
}.iteams_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
}
.about_text {
    
}